<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GridTest</title>
    <link rel="stylesheet" href="/css/datatable.css">
    <script src="/js/jq.js"></script>
    <script src="/js/datatable.js"></script>
    
    <script>
    $(document).ready( function () {
        $('#myTable').DataTable();
    } );
    	
    </script>
    
</head>
<body >
<table id="myTable">
     <thead>
    <tr>
      <th th:each="item : ${NameList}" th:text="${item}">User Colmns</th>
     </tr>
     </thead>
     <tbody>
     <tr th:each="user : ${gridlist}">
         <td th:text="${user.id}">id</td>    
       <td th:text="${user.name}">emil</td>    
         <td th:text="${user.age}">name</td>
     </tr>
     </tbody>
     </table>
</body>
</html>
